<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CRUD node</title>
    <link rel="stylesheet" href="https://bootswatch.com/4/sandstone/bootstrap.min.css">
</head>
<body class="h-100 bg-secondary">

    <nav class="navbar navbar-dark bg-primary">
        <a href="/" class="navbar-brand">CRUD node</a>
        <a href="/customer_signin" class="navbar-brand">Registrarse</a>
        <a href="/customer_login" class="navbar-brand">Iniciar sesión</a>
    </nav>